@import url('media.css');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Inter', sans-serif;
}

:root {
  --light-color: #f5f5f7;
  --dark-color: #221f20;
  --container-padding-inline: 13%;
  --footer-padding-inline: 10%;
}
div {
  position: relative;
  display: inline-block;
  text-align: center;
}
.title {
  display: block;
  text-align: center;
  margin-bottom: 53px;
  color: rgb(34, 31, 32);
  font-size: 40px;
  font-weight: 400;
}

.title::before {
  content: '';
  position: absolute;
  display: block;
  background-color: rgb(34, 31, 32);
  width: 75px;
  height: 2px;
  z-index: 10;
  right: 0;
  top: 40px;
}

.container {
  padding: 0 var(--container-padding-inline);
}

.promo {
  position: relative;
  min-height: 100vh;
  background: url('../img/main_bg.jpeg') center center / cover no-repeat;
  padding-top: 75px;
}

.promo__title {
  color: var(--light-color);
  font-family: Inter;
  font-size: 60px;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
}

.promo__subtitle {
  color: var(--light-color);
  font-size: 32px;
  font-weight: 100;
  text-align: left;
  margin-top: 124px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  min-height: 38px;
  box-sizing: border-box;
  border: 1px solid var(--light-color);
  background: rgba(217, 217, 217, 0);
  margin-top: 20px;
  cursor: pointer;
  padding: 3px 10px;
  /* текст */
  color: var(--light-color);
  font-size: 16px;
  font-weight: 100;
  text-align: center;
  text-decoration: none;
}

.btn:hover {
  transition: 0.3s all ease-out;
  font-weight: 500;
  box-shadow: 5px 5px 10px 0px rgba(255, 255, 255, 0.62);
}

.promo__address {
  display: block;
  position: relative;
  color: var(--light-color);
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  text-align: left;
  margin-top: 100px;
  margin-bottom: 258px;
  address {
    font-style: normal;
  }
  .promo__address_tel {
    color: var(--light-color);
    display: block;
    font-size: 16px;
    font-weight: 100;
    line-height: 19px;
    text-align: left;
    text-decoration: none;
  }
}

address::before {
  content: '';
  position: absolute;
  background: url('../icons/Arrow.svg') center center/ cover no-repeat;
  width: 40px;
  height: 49px;
  z-index: 10;
  left: -35px;
  top: -17px;
}

.keywords {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 20px;
  bottom: 0;
  padding: 0 var(--container-padding-inline);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.04),
    rgba(255, 255, 255, 0.12) 50%,
    rgba(255, 255, 255, 0.2) 100%
  );
  .keywords__item {
    color: var(--light-color);
    font-size: 10px;
    font-weight: 100;
    text-align: left;
    list-style-type: none;
    z-index: 2;
  }
}

/* second section */
.me {
  min-height: 587px;
  padding: 80px 0 80px 0;
  background-color: var(--light-color);
  .me__intro {
    color: rgb(34, 31, 32);
    font-style: italic;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
  }
  .me__descr {
    font-size: 40px;
    font-weight: 400;
    text-align: left;
    margin-bottom: 80px;
    max-width: 1053px;

    span {
      color: rgb(165, 165, 165);
    }
  }
  .me__service {
    position: relative;
    color: rgb(34, 31, 32);
    font-style: italic;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    width: 50%;
    li {
      color: rgb(34, 31, 32);
      font-size: 16px;
      font-weight: 400;
      text-align: left;
      margin-bottom: 10px;
      list-style-type: none;
    }
    li:first-child {
      margin-top: 20px;
      list-style-image: url('../icons/photo.svg');

      /* можно использовать псевдоэлеенты или list-style-image */

      /* &:before {
        content: '';
        position: absolute;
        background: url('../icons/photo.svg') 100% 100% / cover no-repeat;
        width: 20px;
        height: 16px;
        z-index: 10;
        left: -30px;
      } */
    }
    li:nth-child(3) {
      list-style-image: url('../icons/Edit.svg');
    }
    /* li:nth-child(3):before {
      content: '';
      position: absolute;
      background: url('../icons/Edit.svg') 100% 100% / cover no-repeat;
      width: 19px;
      height: 19px;
      z-index: 10;
      left: -30px;
    } */
  }
  .me__back {
    width: 50%;
    color: rgb(34, 31, 32);
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 2%;
    text-align: left;
  }

  .me__wrap {
    display: flex;
    column-gap: 10px; /*новое св-во*/
  }
}

/* third section */

.works {
  padding-bottom: 80px;
  .grid__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: repeat(2, 1fr); */
    grid-auto-columns: 1fr;
    grid-auto-rows: auto;
    grid-auto-flow: row;
    gap: 50px 30px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
    }
  }
}

.inspiration {
  padding-bottom: 80px;
  .grid__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-columns: 1fr;
    grid-auto-rows: auto;
    grid-auto-flow: row;
    gap: 15px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
    }
    .grid-element {
      width: 333px;
      height: 225px;
    }
    #tenement {
      grid-column: 4/5;
      grid-row: 1/3;
    }
    #sky {
      grid-column: 2/4;
      grid-row: 2/3;
    }
  }
}

.customers {
  background: rgb(245, 245, 247);
  padding-bottom: 100px;
  .wrapper {
    max-width: 100vw;
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    div {
      margin-right: 30px;
      img {
        width: 100%;
        box-shadow: 7px 7px 12px 0px rgba(0, 0, 0, 0.25);
        background: url(logo-iec-winter-wolf-400x300);
      }
      div:last-child {
        margin-right: 0;
      }
    }
  }
}

.footer {
  min-height: 200px;
  background: rgb(0, 0, 0);
  padding: var(--footer-padding-inline);
  display: flex;
  align-items: center;
  justify-content: space-between;
  .social {
    display: flex;
    width: 124px;
    justify-content: space-between;
    .social__icon {
      width: 32px;
      height: 32px;
      border: 1px solid rgb(245, 245, 247);
      background: rgba(217, 217, 217, 0);
      /* padding: 5px; */
      display: flex;
      align-items: center;
      justify-content: center;
      a {
        width: 22px;
        height: 22px;
      }
      img {
        border: 1px dashed white;
        width: 100%;
      }
    }
  }

  .address {
    color: rgb(245, 245, 247);
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    font-style: normal;
  }
  .phone {
    display: block;
    color: rgb(245, 245, 247);
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    text-decoration: none;
  }
}
